.header-img{
    height: 350px;
    background-image: url(../img/a1.jpg);
}
.header2-img{
    height: 350px;
    background-image: url(../img/a2.jpg);
}
.header3-img{
    height: 350px;
    background-image: url(../img/a3.png);
}
.bg-cover{
    background-size: cover;
    background-position: center;    
}
.carousel-caption{
    background-color: rgba(0, 0,0, 0.5)
}
.content-1{
    position: relative;
}
.content-2{
    background-image: url(../img/m66.png);
    background-repeat: repeat;
}
.content-img{
    background-image: url(../img/c1.jpg);
    position: absolute; top: 0;  bottom: 0;
    background-size: cover;
}
@media (min-width: 768px) { 
    .text-md-dark{
    color: #333; 
    }
}

.box1{
    float: left;
}
.box2{
    float: left;
    max-width: 1100px;
    margin-bottom: 10px;
    display: none;
}
.top{
    position: fixed;
    bottom: 0;
    right: 0;
}
.box1 a:hover {
margin: 10px;
cursor: crosshair;
}
.img-1{
    background-image: url('../img/m11.png');
    width: 146px;
    height: 300px;
    transition: all 2s;
    background-repeat: no-repeat;
    background-size: 95%;
}
.img-1:hover{
    background-image: url('../img/m22.png');
    width: 146px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 95%;
}
.img-2{
    background-image: url(../img/l11.png);
    width: 146px;
    height: 300px;
    transition: all 2s;
    background-repeat: no-repeat;
    background-size: 95%;
}
.img-2:hover{
    background-image: url(../img/l22.png);
    width: 146px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 95%;
}
.img-3{
    background-image: url(../img/t11.png);
    width: 146px;
    height: 300px;
    transition: all 2s;
    background-repeat: no-repeat;
    background-size: 95%;
}
.img-3:hover{
    background-image: url(../img/t22.png);
    width: 146px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 95%;
}
.img-4{
    background-image: url(../img/p11.png);
    width: 146px;
    height: 300px;
    transition: all 2s;
    background-repeat: no-repeat;
    background-size: 95%;
}
.img-4:hover{
    background-image: url(../img/p22.png);
    width: 146px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 95%;
}
.img-5{
    background-image: url(../img/y11.png);
    width: 146px;
    height: 300px;
    transition: all 2s;
    background-repeat: no-repeat;
    background-size: 95%;
}
.img-5:hover{
    background-image: url(../img/y22.png);
    width: 146px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 95%;
}
.img-6{
    background-image: url(../img/b11.png);
    width: 146px;
    height: 300px;
    transition: all 2s;
    background-repeat: no-repeat;
    background-size: 95%;
}
.img-6:hover{
    background-image: url(../img/b22.png);
    width: 146px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 95%;
}